<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [2]:
import pandas as pd

In [3]:
# Carga el dataset de trabajo
df = pd.read_csv("datos/titulos_netflix_merged.csv")
pd.set_option("display.max_columns", None)
df.head()

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",535.0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
1,1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [4]:
condicion_anio = df["release_year"] == 2021
condicion_tipo = df["type"] == "Movie"
df_2021 = df[condicion_anio & condicion_tipo]
df_2021["title"].unique()

array(['My Little Pony: A New Generation', 'The Starling', 'Je Suis Karl',
       'Confessions of an Invisible Girl', 'Intrusion',
       'Go! Go! Cory Carson: Chrissy Takes the Wheel', 'Ankahi Kahaniya',
       'The Father Who Moves Mountains', 'The Stronghold',
       'My Heroes Were Cowboys', 'Nightbooks', 'Schumacher',
       'A StoryBots Space Adventure', 'You vs. Wild: Out Cold',
       'Little Singham - Black Shadow', 'Tughlaq Durbar (Telugu)',
       'Firedrake the Silver Dragon', 'Kate', 'Prey',
       'Blood Brothers: Malcolm X & Muhammad Ali',
       'The Women and the Murderer', 'JJ+E', 'Untold: Breaking Point',
       'Worth', 'Afterlife of the Party', 'Final Account',
       'Barbie Big City Big Dreams', 'Untold: Crime & Penalties',
       'Thimmarusu', "He's All That", 'SAS: Rise of the Black Swan',
       'Bob Ross: Happy Accidents, Betrayal & Greed', 'The River Runner',
       'The Water Man', 'Count Me In', 'Untold: Caitlyn Jenner',
       'Boomika', 'Boomika (Hindi)', 'Boomika (Malayalam)',
       'Boomika (Telugu)', 'The Witcher: Nightmare of the Wolf',
       'Man in Love', 'Sweet Girl', 'The Loud House Movie',
       'Black Island', 'Memories of a Murderer: The Nilsen Tapes',
       'The Secret Diary of an Exchange Student',
       'Untold: Deal With the Devil', 'Beckett',
       "Lokillo: Nothing's the Same",
       'Monster Hunter: Legends of the Guild', 'Misha and the Wolves',
       'The Kissing Booth 3', 'Untold: Malice at the Palace', 'Slay',
       'The Paper Tigers', 'The Swarm', 'Vivo',
       'Lady Boss: The Jackie Collins Story', 'Aftermath', 'Pray Away',
       'Shiny_Flakes: The Teenage Drug Lord',
       "I missed you: Director's Cut", 'The Vault',
       'Rurouni Kenshin: The Beginning', 'The Last Mercenary',
       'Resort to Love', 'Bartkowiak', 'Hostage House', 'Mimi',
       'A Second Chance:  Rivals!', 'African America', 'Bankrolled',
       'Blood Red Sky', 'Kingdom: Ashin of the North',
       'The Last Letter From Your Lover', '9to5: The Story of a Movement',
       'Cousins', 'Words Bubble Up Like Soda Pop',
       'Trollhunters: Rise of the Titans', 'The Tambour of Retribution',
       'Cosmic Sin', 'Deep', 'Fear Street Part 3: 1666', 'A Perfect Fit',
       'Emicida: AmarElo - Live in São Paulo', 'Lift Like a Girl',
       'My Amanda', 'A Classic Horror Story', 'Gunpowder Milkshake',
       'Private Network: Who Killed Manuel Buendía?',
       'The Guide to the Perfect Family', 'Bridgerton - The Afterparty',
       'Day of Destiny', 'Fear Street Part 2: 1978',
       'How I Became a Superhero', 'Last Summer',
       'Lee Su-geun: The Sense Coach', 'Lethal Love',
       'Major Grom: Plague Doctor', 'This Little Love Of Mine',
       'Fear Street Part 1: 1994', 'Haseen Dillruba', 'The 8th Night',
       'Audible', 'Dynasty Warriors', 'Mobile Suit Gundam Hathaway',
       'America: The Motion Picture', 'Mommy Issues', 'Prime Time',
       'The Ice Road', 'Sisters on Track', 'The Seventh Day',
       'Good on Paper', 'Murder by the Coast',
       'The House of Flowers: The Movie', 'A Family', 'Fatherhood',
       'Jagame Thandhiram', 'Rurouni Kenshin: The Final',
       'Ali & Ratu Ratu Queens', 'Security',
       'Headspace: Unwind Your Mind', 'The Reason I Jump',
       'The Devil Below', 'Bling Empire - The Afterparty',
       'Cobra Kai - The Afterparty',
       'To All the Boys: Always and Forever - The Afterparty', 'Sarbath',
       'Skater Girl', 'Trese After Dark', 'Wish Dragon',
       'Camellia Sisters', 'Awake', 'Tragic Jungle',
       'Kitty Love: An Homage to Cats',
       'Breaking Boundaries: The Science Of Our Planet', 'Sweet & Sour',
       "Trippin' with the Kandasamys", 'Xtreme',
       'Alan Saldaña: Locked Up', 'Dancing Queens',
       'Myriam Fares: The Journey',
       'Black Holes | The Edge of All We Know', 'Carnaval',
       'Super Monsters: Once Upon a Rhyme', 'Bo Burnham: Inside',
       'One Lagos Night', 'Dog Gone Trouble', 'Blue Miracle', 'Ghost Lab',
       'Soy Rada: Serendipity', 'Baggio: The Divine Ponytail',
       'Gatao - The Last Stray', 'Nail Bomber: Manhunt', '99 Songs',
       '99 Songs (Tamil)', '99 Songs (Telugu)', 'Army of the Dead',
       'Creating an Army of the Dead',
       'Little Singham Future mein Satakli', 'Amy Tan: Unintended Memoir',
       'Sardar Ka Grandson', 'Ahaan', 'Cinema Bandi', 'Ferry',
       'I Am All Girls', 'Jungle Beat: The Movie',
       'The Upshaws - The Afterparty', 'The Woman in the Window',
       'Dance of the Forty One', 'Oxygen', 'Nayattu', 'Super Me',
       'Milestone', 'Monster', 'The Circle - The Afterparty',
       'The Disciple', 'The Mitchells vs. The Machines',
       'Things Heard & Seen', 'Get the Grift',
       'Shadow and Bone - The Afterparty',
       'Heroes: Silence and Rock & Roll', 'HOMUNCULUS',
       'Searching For Sheela', 'Stowaway', 'Tell Me When',
       'Ajeeb Daastaans', 'Arlo the Alligator Boy',
       'Barbie & Chelsea: The Lost Birthday',
       'Dad Stop Embarrassing Me - The Afterparty', 'Tuesdays & Fridays',
       'Ride or Die', 'The Soul', 'Why Did You Kill Me?',
       'New Gods: Nezha Reborn', 'Night in Paradise', 'Roohi',
       'Thunder Force', 'Two Distant Strangers',
       'Dolly Parton: A MusiCares Tribute',
       'The Last Kids on Earth: Happy Apocalypse to You', 'Mandela',
       'Concrete Cowboy', 'Irul', 'Just Say Yes', 'Madame Claude',
       'Tersanjung the Movie', '7 Yards: The Chris Norton Story',
       'Octonauts & the Ring of Fire', 'Marked', 'A Week Away',
       'Bad Trip', 'Pagglait', 'Caught by a Wave',
       'Secret Magic Control Agency', 'Seaspiracy',
       'Loyiso Gola: Unlearning', 'The Yin Yang Master',
       'Deadly Illusions', 'Get the Goat',
       'Nate Bargatze: The Greatest Average American',
       'Operation Varsity Blues:\xa0The\xa0College\xa0Admissions\xa0Scandal',
       'RebellComedy: Straight Outta the Zoo', 'C/O Kaadhal',
       'Paper Lives', 'YES DAY', 'Coven of Sisters', 'Bombay Rose',
       'Aelay', 'Dogwashers', 'Sentinelle', 'Moxie',
       'Biggie: I Got a Story to Tell', 'Blanche Gardin: The All-Nighter',
       'Connected', 'Bigfoot Family', 'Crazy About Her',
       'Ginny & Georgia - The Afterparty', 'The Girl on the Train',
       'Geez & Ann', 'Brian Regan: On the Rocks', 'Pelé', 'Red',
       'Fate: The Winx Saga - The Afterparty', 'I Care a Lot',
       'Animals on the Loose: A You vs. Wild Movie', 'Namaste Wahala',
       'Hate by Dani Rovira', 'To All The Boys: Always And Forever',
       "Xico's Journey", 'Red Dot', 'Squared Love',
       'The Misadventures of Hedi and Cokeman', 'Malcolm & Marie',
       'Space Sweepers', 'Strip Down, Rise Up',
       'The Yin-Yang Master: Dream Of Eternity', 'Below Zero',
       'Finding ‘Ohana', 'The Dig', 'June & Kopi', 'Accomplice',
       'Penguin Bloom', 'The White Tiger', 'Outside the Wire',
       'Tribhanga - Tedhi Medhi Crazy', 'What Would Sophia Loren Do?',
       'Wish You',
       'Chris Rock Total Blackout: The Tamborine Extended Cut',
       'Crack: Cocaine, Corruption & Conspiracy', 'Charming',
       "Creating The Queen's Gambit", 'Stuck Apart',
       'Ratones Paranoicos: The Band that Rocked Argentina',
       'The Minimalists: Less Is Now', 'What Happened to Mr. Cha?'],
      dtype=object)

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [5]:
patron_regex = '^90'
filtro_duration = df["duration"].str.contains(patron_regex, na=False) 
df_90 = df[filtro_duration]
df_90[["title", "duration"]]

                                title duration
0                Dick Johnson Is Dead   90 min
94                          Show Dogs   90 min
107                  A Champion Heart   90 min
229                      The Old Ways   90 min
283              Misha and the Wolves   90 min
...                               ...      ...
8651                            Tyson   90 min
8655             Unaccompanied Minors   90 min
8670                    Vantage Point   90 min
8735  Who's That Knocking at My Door?   90 min
8776                       Yellowbird   90 min

[152 rows x 2 columns]

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [6]:
patron_regex = 'India'
filtro_india= df["country"].str.contains(patron_regex, case=False, na=False) 
filtro_2018 = df["release_year"]>2018
df_india_2018 = df[filtro_india & filtro_2018]
df_india_2018[["title", "release_year", "country"]]

,title,release_year,country
4,Kota Factory,2021,India
39,Chhota Bheem,2021,India
126,Shikara,2020,India
190,Thimmarusu,2021,India
266,The Creative Indians,2020,India
...,...,...,...
6464,Chhota Bheem Kungfu Dhamaka,2019,India
7595,Norm of the North: Keys to the Kingdom,2019,"India, United States"
7596,Norm of the North: King Sized Adventure,2019,"United States, India, South Korea, China"
8121,Super Bheem,2019,India
8173,Thackeray,2019,India

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [7]:
condicion_calificacion = df["rating"].isin(['TV-14', 'R'])
df[condicion_calificacion][["title", "rating"]].reset_index()

      index                                            title rating
0         8                    The Great British Baking Show  TV-14
1        18                                        Intrusion  TV-14
2        20  Monsters Inside: The 24 Faces of Billy Milligan  TV-14
3        21                           Resurrection: Ertugrul  TV-14
4        24                                            Jeans  TV-14
...     ...                                              ...    ...
2954   8794                                           اشتباك  TV-14
2955   8799                                            Zenda  TV-14
2956   8802                                           Zodiac      R
2957   8804                                       Zombieland      R
2958   8806                                           Zubaan  TV-14

[2959 rows x 3 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [8]:
patron_regex='Christopher Nolan|Martin Scorsese'
filtro_director= df["director"].str.contains(patron_regex, case=False, na=False)
df_director = df[filtro_director]
df_title_director = df_director[["title", "director"]]
df_title_director["director"].value_counts()

director
Martin Scorsese      12
Christopher Nolan     1
Name: count, dtype: int64

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [9]:
patron_regex="United States|United Kingdom|Canada"
filtro = df["country"].str.contains(patron_regex, case=False, na=False)
df_paises = df[filtro]

#df_paises[["title", "country"]]
df_paises

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",535.0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
7,7,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,NaN,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,8795,8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8797,8797,8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,NaN,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8802,8802,8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8804,8804,8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,8805,8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
varios_paises = df_paises["country"].value_counts()
varios_paises

country
United States                                    2818
United Kingdom                                    419
Canada                                            181
United Kingdom, United States                      75
United States, Canada                              73
                                                 ...
United Kingdom, Brazil, Germany                     1
United Kingdom, China, United States                1
United Kingdom, United States, Czech Republic       1
United States, India, France                        1
Germany, United States, Italy                       1
Name: count, Length: 470, dtype: int64

In [11]:
df_paises.shape

(4432, 21)

In [12]:
patron_regex="^United States$|^United Kingdom$|^Canada$"
filtro_sing = df["country"].str.contains(patron_regex, case=False, na=False)
df_paises_sing = df[filtro_sing]
un_pais = df_paises_sing["country"].value_counts().sum()
un_pais

np.int64(3418)

In [13]:
varios_paises-un_pais

country
United States                                    -600
United Kingdom                                  -2999
Canada                                          -3237
United Kingdom, United States                   -3343
United States, Canada                           -3345
                                                 ...
United Kingdom, Brazil, Germany                 -3417
United Kingdom, China, United States            -3417
United Kingdom, United States, Czech Republic   -3417
United States, India, France                    -3417
Germany, United States, Italy                   -3417
Name: count, Length: 470, dtype: int64

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [14]:
condicion_anios = df["release_year"].between(2015,2020)
df_anios_betwwen = df[condicion_anios]
df_anios_betwwen[["title", "release_year"]]

                                                  title  release_year
0                                  Dick Johnson Is Dead          2020
16    Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
17                                      Falsa identidad          2020
21                               Resurrection: Ertugrul          2018
32                                        Sex Education          2020
...                                                 ...           ...
8796                                         Yunus Emre          2016
8797                                          Zak Storm          2016
8801                                            Zinzana          2015
8803                                        Zombie Dumb          2018
8806                                             Zubaan          2015

[5624 rows x 2 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [15]:
df.head()
condicion_puntuacion = df["IMDB Score"].between(6.5,8.0)
filtro_nan = df["duration"].isna()
df_imdb = df[condicion_puntuacion & filtro_nan]
df_imdb[["title", "IMDB Score", "duration"]]

                            title  IMDB Score duration
834                  Blue Miracle         6.7      NaN
895                        Oxygen         6.5      NaN
910                       Monster         6.5      NaN
1024       Arlo the Alligator Boy         6.7      NaN
1157                     Bad Trip         6.6      NaN
...                           ...         ...      ...
5783               Audrie & Daisy         7.2      NaN
5840   The Fundamentals of Caring         7.3      NaN
5849              Team Foxcatcher         7.3      NaN
5901                          Tig         7.4      NaN
5906  What Happened, Miss Simone?         7.6      NaN

[77 rows x 3 columns]

#### Ejercicio 9: ¿Cuáles son las películas cuya duración es de 90 o 150 minutos?

In [16]:
patron = "^90|^150"
filtro_90_150= df["duration"].str.contains(patron, case=False, na=False)
df_90_150=df[filtro_90_150]
#pd.reset_option("display.max_rows")
#pd.set_option("display.max_rows", None)
df_90_150.head()

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",535.0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
94,94,94,s95,Movie,Show Dogs,Raja Gosnell,"Will Arnett, Ludacris, Natasha Lyonne, Stanley...","United Kingdom, United States","September 8, 2021",2018,PG,90 min,"Children & Family Movies, Comedies",A rough and tough police dog must go undercove...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,107,107,s108,Movie,A Champion Heart,David de Vos,"Mandy Grace, David de Vos, Donna Rusch, Devan ...",United States,"September 4, 2021",2018,G,90 min,"Children & Family Movies, Dramas",When a grieving teen must work off her debt to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,205,205,s206,Movie,Kyo Kii... Main Jhuth Nahin Bolta,David Dhawan,"Govinda, Sushmita Sen, Rambha, Anupam Kher, Sa...",India,"August 27, 2021",2001,TV-14,150 min,"Comedies, International Movies, Sci-Fi & Fantasy",The life and career of a lawyer are thrown int...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,229,229,s230,Movie,The Old Ways,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,"August 25, 2021",2020,TV-MA,90 min,Horror Movies,A reporter visits her birthplace in Veracruz f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [17]:
filtro = df["type"]=="TV Show"
df_tv_show = df[filtro]

patron = 'Love '
condicion_love = df["title"].str.contains(patron, case=False, na=False)
df_tv_show_love = df_tv_show[condicion_love]
df_tv_show_love.head(10)

C:\Users\Elena\AppData\Local\Temp\ipykernel_18096\923589879.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_tv_show_love = df_tv_show[condicion_love]

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
25,25,25,s26,TV Show,Love on the Spectrum,NaN,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,659,659,s660,TV Show,Bangkok Love Stories: Innocence,NaN,"Nida Patcharaveerapong, Nicole Theriault, Natt...",Thailand,"June 19, 2021",2018,TV-14,NaN,"International TV Shows, Romantic TV Shows, TV ...",From a teenage parkour enthusiast to a bawdy r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,731,731,s732,TV Show,Love (ft. Marriage and Divorce),NaN,"Sung Hoon, Lee Tae-gon, Park Joo-mi, Lee Ga-ry...",South Korea,"June 12, 2021",2021,TV-14,2 Seasons,"International TV Shows, TV Dramas",Everything comes unraveling for three successf...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,1032,1032,s1033,TV Show,Love Naggers,NaN,"Seo Jang-hoon, Kim Sook, Han Hye-jin, Kwak Jun...",South Korea,"April 16, 2021",2021,TV-14,NaN,"International TV Shows, Stand-Up Comedy & Talk...","From the quirky to the scandalous, any relatio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1210,1210,1210,s1211,TV Show,Love Alarm,NaN,"Kim So-hyun, Jung Ga-ram, Song Kang, Ko Min-si...",South Korea,"March 12, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Korean TV Shows, Roman...",In a world where an app alerts people if someo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1355,1355,1355,s1356,TV Show,Love Daily,NaN,"Kamil McFadden, Alexandra Peters, Laura Marano...",United States,"February 1, 2021",2018,TV-14,NaN,"Romantic TV Shows, Teen TV Shows",This anthology follows 12 different love stori...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,1483,1483,s1484,TV Show,A Love So Beautiful,NaN,"Kim Yo-han, So Joo-yeon, Yeo Hoi-hyun, Jeong J...",South Korea,"December 28, 2020",2020,TV-PG,NaN,"International TV Shows, Romantic TV Shows, TV ...",Love is as tough as it is sweet for a lovestru...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,1740,1740,s1741,TV Show,Love & Anarchy,NaN,"Ida Engvoll, Björn Mosten, Carla Sehn, Reine B...",Sweden,"November 4, 2020",2020,TV-MA,NaN,"International TV Shows, Romantic TV Shows, TV ...",A married consultant and a young IT tech kick ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2507,2507,2507,s2508,TV Show,Patton Oswalt: I Love Everything,Marcus Raboy,"Patton Oswalt, Bob Rubin",United States,"May 19, 2020",2020,TV-MA,NaN,"Stand-Up Comedy & Talk Shows, TV Comedies",Turning 50. Finding love again. Buying a house...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2643,2643,2643,s2644,TV Show,Love 101,NaN,"Pınar Deniz, Kubilay Aka, Mert Yazıcıoğlu, Ali...",Turkey,"April 24, 2020",2020,TV-MA,NaN,"International TV Shows, TV Dramas, Teen TV Shows",While trying to make their teacher fall for a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [25]:
patron="\w\sJohnson"
filtro_johnson = df["director"].str.contains(patron, case=False, na=False)
df_johnson = df[filtro_johnson]
df_johnson.head()

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",535.0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
829,829,829,s830,Movie,Dog Gone Trouble,Kevin Johnson,"Big Sean, Pamela Adlon, Lucy Hale, Marissa Jar...",NaN,"May 28, 2021",2021,TV-Y7,NaN,"Children & Family Movies, Comedies",The privileged life of a pampered dog named Tr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
846,846,846,s847,Movie,Home,Tim Johnson,"Jim Parsons, Rihanna, Steve Martin, Jennifer L...",United States,"May 25, 2021",2015,PG,NaN,"Children & Family Movies, Comedies, Sci-Fi & F...",When misfit alien Oh mistakenly sends a party ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,2052,2052,s2053,Movie,"Love, Guaranteed",Mark Steven Johnson,"Rachael Leigh Cook, Damon Wayans Jr., Heather ...",United States,"September 3, 2020",2020,TV-PG,NaN,"Comedies, Independent Movies, Romantic Movies",Sparks fly when a crusading but cash-strapped ...,131.0,"Love, Guaranteed",Romantic comedy,"September 3, 2020",91.0,5.6,English
2455,2455,2455,s2456,Movie,The Stolen,Niall Johnson,"Alice Eve, Jack Davenport, Graham McTavish, St...","United Kingdom, Germany, United Arab Emirates,...","June 1, 2020",2016,TV-14,98 min,Dramas,A well-to-do British woman must venture into N...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [32]:
patron="Documentaries"
filtro_documentaries = df["listed_in"].str.contains(patron, case=False, na=False)

patron2="Mike Tyson"
filtro_tyson = df["cast"].str.contains(patron2, case=False, na=False)


df_johnson = df[filtro_documentaries & filtro_tyson]
df_johnson.head()

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
8651,8651,8651,s8652,Movie,Tyson,James Toback,"Mike Tyson, Trevor Berbick","United States, France","March 1, 2019",2008,R,90 min,"Documentaries, Sports Movies","In this surprisingly emotional documentary, he...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [29]:
df[['title', 'country', 'release_year']]

                      title        country  release_year
0      Dick Johnson Is Dead  United States          2020
1             Blood & Water   South Africa          2021
2                 Ganglands            NaN          2021
3     Jailbirds New Orleans            NaN          2021
4              Kota Factory          India          2021
...                     ...            ...           ...
8802                 Zodiac  United States          2007
8803            Zombie Dumb            NaN          2018
8804             Zombieland  United States          2009
8805                   Zoom  United States          2006
8806                 Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [39]:
df.filter(regex = "[Dd]ate").head()

           date_added
0  September 25, 2021
1  September 24, 2021
2  September 24, 2021
3  September 24, 2021
4  September 24, 2021

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [36]:
df_france = df.query("country == 'France' and duration == '80 min'")
df_france

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
5474,5474,5474,s5475,Movie,Arès,Jean-Patrick Benes,"Ola Rapace, Micha Lescot, Thierry Hancisse, Hé...",France,"May 23, 2017",2016,TV-MA,80 min,"Action & Adventure, International Movies, Sci-...",A futuristic France tries to keep its people f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [45]:
condicion_anios = df["release_year"]<2010
condicion_tipo = df["type"] == "Movie"
df_2010 = df[condicion_anios & condicion_tipo]
df_2010[["title", "release_year", "type"]]

                     title  release_year   type
7                  Sankofa          1993  Movie
22         Avvai Shanmughi          1996  Movie
24                   Jeans          1998  Movie
26          Minsara Kanavu          1997  Movie
41                    Jaws          1975  Movie
...                    ...           ...    ...
8793  Yours, Mine and Ours          2005  Movie
8799                 Zenda          2009  Movie
8802                Zodiac          2007  Movie
8804            Zombieland          2009  Movie
8805                  Zoom          2006  Movie

[1153 rows x 3 columns]

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [51]:
df_imdb = df.nlargest(10, 'IMDB Score').filter(["title", "IMDB Score"])
df_imdb

                                            title  IMDB Score
1886     David Attenborough: A Life on Our Planet         9.0
4293                      Springsteen on Broadway         8.5
5893  Winter on Fire: Ukraine's Fight for Freedom         8.4
3386                       Dancing with the Birds         8.3
5152                       Cuba and the Cameraman         8.3
1171                                   Seaspiracy         8.2
1857        The Three Deaths of Marisela Escobedo         8.2
3273                                        Klaus         8.2
2038                           My Octopus Teacher         8.1
2097                               Rising Phoenix         8.1

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [52]:
df_imdb = df.nsmallest(10, 'IMDB Score').filter(["title", "IMDB Score"])
df_imdb

                                title  IMDB Score
3623                  Enter the Anime         2.5
2104                      Dark Forces         2.6
3094                          The App         2.6
5073                   The Open House         3.2
1777                      Kaali Khuhi         3.4
3334                            Drive         3.5
1594                Leyla Everlasting         3.7
2424  The Last Days of American Crime         3.7
4972                          Paradox         3.9
871                Sardar Ka Grandson         4.1

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [53]:
filtro_na = df["director"].isna()
df_na_director = df[filtro_na]
df_na_director[["title", "director"]]

                                    title director
1                           Blood & Water      NaN
3                   Jailbirds New Orleans      NaN
4                            Kota Factory      NaN
10    Vendetta: Truth, Lies and The Mafia      NaN
14        Crime Stories: India Detectives      NaN
...                                   ...      ...
8795                      Yu-Gi-Oh! Arc-V      NaN
8796                           Yunus Emre      NaN
8797                            Zak Storm      NaN
8800                   Zindagi Gulzar Hai      NaN
8803                          Zombie Dumb      NaN

[2634 rows x 2 columns]

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [56]:
filtro_title = df["title"].notnull()
filtro_country = df["country"].notnull()
filtro_imbd = df["IMDB Score"].notnull()

df_non_na = df[filtro_title & filtro_country & filtro_imbd]
df_non_na.isnull().sum()
df_non_na.head()

,Unnamed: 0,Unnamed: 0_x,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0_y,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",535.0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
141,141,141,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",372.0,Extraction,Action,"April 24, 2020",117.0,6.7,English
834,834,834,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",369.0,Blue Miracle,Drama,"May 27, 2021",95.0,6.7,English
836,836,836,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",71.0,Ghost Lab,Horror,"May 26, 2021",117.0,5.2,Thai
840,840,840,s841,Movie,Baggio: The Divine Ponytail,Letizia Lamartire,"Andrea Arcangeli, Valentina Bellè, Andrea Penn...",Italy,"May 26, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Sports Movies","The story of Roberto Baggio, one of the best s...",245.0,Baggio: The Divine Ponytail,Biopic,"May 26, 2021",92.0,6.2,Italian

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [58]:
df["title"].duplicated().sum()

np.int64(0)